@font-face {
    font-family: "Nekst";
    src: url('../fonts/Nekst-Black.woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url('../fonts/Gilroy-Regular.woff2');
    font-weight: 400;
    font-style: normal;
}
